<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel"><%= modal_title(params[:delivery_method]) %></h4>
</div>
<%= bootstrap_form_tag(url: create_request_path, method: :post) do |f| %>
<div class="modal-body">
  <%= render 'request_hidden_fields', f: f %>

  <% case params[:delivery_method].to_sym %>
  <% when :pickup %>
    <%= render 'request/confirmations/pickup', f: f %>
  <% when :booksbymail %>
    <%= render 'request/confirmations/bbm', f: f %>
  <% when :scandeliver %>
    <%= render 'request/confirmations/scandeliver', f: f %>
  <% else %>
    <p>Invalid Delivery Method</p>
  <% end %>
  <%= f.text_area :comments %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
  <%= f.submit 'Submit Request', id: 'confirm_submit_button', class: 'btn btn-primary' %>
</div>
<% end %>
