<% @page_title = 'Request From Penn Libraries' %>
<% bib = @items.first['bib_data'] %>

<% original_item_count = @items.total_count %>

<%# sort items %>
<% items = @items.sort_by { |item| [item.item_data['description'], item.item_data['chronology_j']] } %>

<div class="container">

  <h1>New Request</h1>
  <p>
    You may want to <%= franklin_online_search_link(bib['title']) %>
  </p>

  <%= bootstrap_form_tag url: '#' do |f| %>
    <%= f.static_control :title, label: 'Title' do %>
      <%= bib['title'] %>
    <% end %>

    <%= f.static_control :title, label: 'Author' do %>
      <%= bib['author'] %>
    <% end %>

    <%= f.hidden_field :mms_id, value: bib['mms_id'], id: 'mms_id' %>
    <%= f.hidden_field :holding_id, value: items.first.holding_data['holding_id'], id: 'holding_id' %>

    <% if items.length == 1 %>
      <%= f.hidden_field :item_pid, value: items.first.pid, id: 'item_pid' %>
    <% else %>
      <%= f.select(:item_pid, '',
                   { label: items.first.physical_material_type['desc'] },
                   { class: 'select2-bs item-select2', id: 'item_pid' }) do %>
        <option value=""></option>
        <% items.each do |i| %>
          <%= content_tag :option, i.label_for_select, value: i.pid,
                          data: { 'delivery': i.delivery_options.join(':'),
                                  'holding-id': i.holding_data['holding_id'],
                                  'volume': i.volume, 'issue': i.issue,
                                  'year': i.pub_year, 'month': i.pub_month } %>
        <% end %>
      <% end %>
    <% end %>

    <%= f.select :delivery_method, new_delivery_options_for_select(@items),
                 { class: '', prompt: new_placeholder_for_delivery_select(@items) }, { disabled: (@items.length > 1) } %>

    <%= f.submit 'Submit', id: 'submit-confirm-button', class: 'btn btn-primary', data: { toggle: 'modal'} %>
  <% end %>
</div>

<h3>Item Detail Table (dev research only)</h3>

<a href="#" class="show-dev-details">toggle</a>

<div class="dev-details">

  <p>Total Items for Display: <%= items.count %></p>
  <p>Items not displayed: <%= original_item_count - items.count %></p>

  <table class="table table-compact">
    <thead>
    <tr>
      <th>radio label</th>
      <th>select label</th>
      <th>item description</th>
      <th>location name</th>
      <th>item physical material type desc</th>
      <th>enumeration a</th>
      <th>enumeration b</th>
      <th>enumeration c</th>
      <th>chronology i</th>
      <th>chronology j</th>
      <th>chronology k</th>
      <th>checkoutable?</th>
      <th>user due date policy</th>
    </tr>
    </thead>
    <tbody>
    <% items.each do |i| %>
      <tr>
        <td><%= i.label_for_radio_button %></td>
        <td><%= i.label_for_select %></td>
        <td><%= i.description %></td>
        <td><%= i.location_name %></td>
        <td><%= i.physical_material_type['desc'] %></td>
        <td><%= i.item_data['enumeration_a'] %></td>
        <td><%= i.item_data['enumeration_b'] %></td>
        <td><%= i.item_data['enumeration_c'] %></td>
        <td><%= i.item_data['chronology_i'] %></td>
        <td><%= i.item_data['chronology_j'] %></td>
        <td><%= i.item_data['chronology_k'] %></td>
        <td><%= i.checkoutable? %></td>
        <td><%= i.user_due_date_policy %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="confirm-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
