<% @page_title = "Request Enhanced Cataloging" %>

<%= bootstrap_form_tag layout: :horizontal, label_col: 'col-sm-6 col-md-2', control_col: 'col-sm-6 col-md-10', html: { :onsubmit => "return submit_fixit()" } do |f| %>
  <%= f.hidden_field(:bibid, {id: 'bibid', value: record.bibid}) %>
  <div class="section">
    <div class="section-heading">
      <h1>Requestor information</h1>
    </div>
    <div class='section-body'>
      <%= f.static_control(label: 'Name') { user.name } %>
      <%= f.text_field(:email, label: 'Email', value: user.data['email']) %>
      <%= f.static_control(label: 'Affiliation') { user.affiliation} %>
    </div>
  </div>

  <div class="section">
    <div class="section-heading">
      <h1>Report type</h1>
    </div>
    <div class="section-body">
      <%= f.form_group(:report_type, label: {text: "Report Type"}) do %>
        <%= f.radio_button(:report_type, :fixopac, label: "Report cataloging error", checked: true, onclick: "update_title()") %>
        <%= f.radio_button(:report_type, :enhanced, label: "Request enhanced cataloging", onclick: "update_title()") %>
        <%= f.radio_button(:report_type, :missing, label: "Report item missing", onclick: "update_title()") %>
      <% end %>
    </div>
  </div>

  <div class="section">
    <div class="section-heading">
      <h1 id="type_title">Report error</h1>
    </div>
    <div class="section-body">
      <%= f.select(:holding, holdings, {label: 'Holding'}, {class: 'form-control'}) %>
      <%= f.text_field(:title, label: 'Title', value: record.title) %>
      <%= f.text_field(:author, label: 'Author', value: record.author) %>
      <%= f.text_field(:call_number, label: 'Call Number', value: record.call_number) %>
      <%= f.text_area(:comments, label: 'Comments<br />(max 256 chars)'.html_safe, maxlength: 256) %>
      <%= f.submit('Submit Request', id: 'submit', data: { disable_with: false }) %>
    </div>
  </div>

  <p id="help">If you have questions or problems, please contact us at <%= mail_to('fixopac@pobox.upenn.edu') %></p>

<% end %>
<script type="text/javascript">init_report_error_form()</script>
