<% @page_title = t('forms.help.page_title') %>

<%= bootstrap_form_tag do |f| %>
  <%= f.hidden_field :referrer, { id: 'referrer', value: referrer } %>

  <div class="alert alert-warning"><%= t('forms.help.message') %></div>

  <%= f.text_field :name, label: t('forms.help.fields.name'), required: true %>
  <%= f.text_field :email, label: t('forms.help.fields.email'), required: true %>
  <%= f.text_area :details, label: t('forms.help.fields.details'), required: true %>
  <%= f.submit t('forms.common.fields.submit'), id: 'submit' %>
<% end %>
