<% 
  reqtype = user.data['status'] == 'StandingFaculty' ? "FacultyEXPRESS" : "InterLibrary Loan"
  @page_title = "#{reqtype} #{request_type} Request"
%>

<%= render 'limitation_warnings' if (article_request? || scandelivery_request?) %>
<%= render partial: "form/proxy" %>

<%= bootstrap_form_tag(
      layout: :horizontal,
      label_col: 'col-sm-6 col-md-2',
      control_col: 'col-sm-6 col-md-10'
    ) do |f| %>

  <%= f.hidden_field(:deliverytype, { id: 'deliverytype', value: params[:deliverytype] }) %>
  <%= f.hidden_field(:bibid, { id: 'bibid', value: record['bibid'] }) %>
  <% request.query_parameters.reject { |k,_| ['utf8'].member?(k) }.each do |k,v| %>
    <%= f.hidden_field(k.to_sym, { name: k, value: v }) %>
  <% end %>

  <div class="section">
    <div class="section-heading">
      <h1>Requestor information</h1>
    </div>
    <div class='section-body'>
      <%= f.static_control(label: 'Name') { user.name } %>
      <%= f.email_field(:email, label: 'Email', value: user.data['email'], required: true) %>
      <%= f.phone_field(:phone, label: 'Phone', value: '') %>
      <%= f.static_control(label: 'Affiliation') { user.affiliation } %>
    </div>
  </div>

  <div class="section">
    <% if explicit_bbm? %>
    <div class="section-heading">
      <h1>Delivery Method: Books by Mail</h1>
    </div>

    <div class="section-body">
      <div class="form-group">
        <div class="col-sm-12 col-md-12">
          <%# render BBM delivery info %>
          <%= render 'bbm_warnings' %>
          <%= t('forms.bbm.messages.delivery_address_note_html') %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="section-heading">
      <h1>Delivery Method</h1>
    </div>

    <div class="section-body">
      <div class="form-group">
        <div class="col-sm-12 col-md-12">
          <%# render ILL delivery info (ScanDeliver, Article or Book) %>
          <%= render partial: 'ill_delivery_info', locals: { f: f } %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="section">
    <div class="section-heading">
      <h1>Bibliographic information for the item requested</h1>
    </div>
    <div class="section-body">
      <% if book_request? %>
        <%= render partial: "form/ill/book", locals: { f: f, record: record } %>
      <% elsif scandelivery_request?  %>
        <%= render partial: "form/ill/scan", locals: { f: f, record: record } %>
      <% else %>
        <%= render partial: "form/ill/article", locals: { f: f, record: record} %>
      <% end %>
      <%= f.text_area(:comments, label: 'Comments<br />(max 256 chars)'.html_safe, maxlength: 256) %>
      <%= f.submit('Submit Request', id: 'submit', data: { disable_with: false }) %>  
    </div>
  </div>
<% end %>
