<% @page_title = "Place a Request" %>

<%= bootstrap_form_tag layout: :horizontal, label_col: 'col-sm-6 col-md-2', control_col: 'col-sm-6 col-md-10' do |f| %>
  <%= f.hidden_field(:bibid, {id: 'bibid', value: record.bibid}) %>
  <div class="section">
    <div class="section-heading">
      <h1>Requestor information</h1>
    </div>
    <div class='section-body'>
      <%= f.static_control(label: 'Name') { user.name } %>
      <%= f.text_field(:email, label: 'Email', value: user.data['email']) %>
      <%= f.static_control(label: 'Affiliation') { user.affiliation} %>
    </div>
  </div>

  <div class="section">
    <div class="section-heading">
      <h1>Bibliographic information for item requested</h1>
    </div>
    <div class="section-body">
      <%= f.static_control(label: 'Title') { record.title } %>
      <%= f.static_control(label: 'Author') { record.author } %>
      <%= f.static_control(label: 'Call Number') { record.call_number } %>
      <%= f.select(:pickuploc, [
            '',
            'Van Pelt Circulation',
            'Annenberg Circulation',
            'Biomedical Circulation',
            'CAJS Circulation',
            'Chemistry Circulation',
            'Dental Circulation',
            'Fine Arts Circulation',
            'Math Circulation',
            'Museum Circulation',
            'New Bolton Circulation',
            'PA Hospital Circulation',
            'Veterinary Circulation'
          ], {label: 'Pickup Location'}, {class: 'form-control'}) %>
      <%= f.text_area(:comments, label: 'Comments<br />(max 256 chars)'.html_safe, maxlength: 256) %>
      <%= f.submit('Submit Request', id: 'submit') %>  
    </div>
  </div>
  <p id="help">Delivery time: Typically less than one week.</p>
  <p id="help">If you have questions or problems, please contact the Van Pelt Circulation Dept at 215 808-7566 or <%= mail_to('vpcircdk@pobox.upenn.edu') %></p>

<% end %>
