<% 
  @page_title = "Request Options"

  bd_url = "https://bd.relaisd2d.com/?LS=PENN&PI=#{user.data['proxied_by']}"
  ezb_url = "https://ezborrow.reshare.indexdata.com"
  bd_logo = link_to image_tag('bdlogo', id: 'bdlogo'), bd_url
  ezb_logo = link_to image_tag('palcilogo', id: 'ezblogo'), ezb_url

  ill_article_url = "/forms/ill?requesttype=article"
  ill_book_url = "/forms/ill?requesttype=book"
%>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <div>Name: <%= user.name %></div>
      <div>Email: <%= user.data['email'] %></div>
      <h3>Resource Sharing</h3>
      <ul>
        <li><%= link_to "BorrowDirect+", "http://hdl.library.upenn.edu/1017/125512" %>
          <ul>
            <li><%= link_to "BorrowDirect", bd_url %></li>
            <li><%= link_to "E-ZBorrow", ezb_url %></li>
          </ul>
        </li>
        <li><%= link_to "InterLibrary Loan / Document Delivery", "http://hdl.library.upenn.edu/1017/125512/1" %>
          <ul>
            <li><%= link_to "Request Article / Chapter", ill_article_url %></li>
            <li><%= link_to "Request Book / Media", ill_book_url %></li>
            <li><%= link_to "View Current Requests", "https://atlas.library.upenn.edu/cgi-bin/forms/webdeliver?action=status" %></li>
          </ul>
        <li><%= link_to "FacultyEXPRESS", "http://hdl.library.upenn.edu/1017/125512/4" %>
          <ul>
            <li><%= link_to "Request Article / Chapter", ill_article_url %></li>
            <li><%= link_to "Request Book / Media", ill_book_url %></li>
            <li><%= link_to "View Current Requests", "https://atlas.library.upenn.edu/cgi-bin/forms/webdeliver?action=status" %></li>
          </ul>
        </li>
        <li><%= link_to "Web Delivery", "http://hdl.library.upenn.edu/1017/125512/3" %>
          <ul>
            <li><%= link_to "ILL / Document Delivery Pickup", "https://atlas.library.upenn.edu/cgi-bin/forms/webdeliver?action=delivered" %></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="row">
        <div class="col">
          <h1>How to Get Books Not Available at Penn Libraries</h1>
          <div>
            <h2>Direct request services for books: BorrowDirect and E-ZBorrow</h2>
              <ul>
                <li>Search multiple library collections simultaneously; place your own requests</li>
                <li>Fast delivery in 3 - 5 days</li>
                <li>Track request progress online and by email sent to you</li>
                <li>Please be advised, books borrowed through this service are subject to a $1/day overdue charge.</li>
                <li>Choose <a href="https://guides.library.upenn.edu/circulation/PickUpatPenn">PickUp@Penn</a> or <a href="https://guides.library.upenn.edu/resourcesharing/books-by-mail">Books by Mail</a> as your delivery option.</li>
              </ul>
          </div>
        </div>
      </div>

      <div id="relaiswrapper" class="row">
        <div id="borrowdirect" class="col-sm-12 col-md-6">
          <div><%= bd_logo %></div>
          <div>Borrow books directly from Brown, Columbia, Cornell, Dartmouth, Duke, Harvard, Johns Hopkins, MIT, Princeton, Stanford, the University of Chicago, Yale, and the Center for Research Libraries.</div>
          <div><%= link_to "Connect to BorrowDirect", bd_url %></div>
        </div>

        <div id="ezborrow" class="col-sm-12 col-md-6">
          <div><%= ezb_logo %></div>
          <div>Books available from over 60 academic libraries in Pennsylvania and nearby states.</div>
          <div><%= link_to "Connect to E-ZBorrow", ezb_url %></div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>Features and Policies</h2>
          <ul>
            <li>Searching and discovery: Keyword and advanced author, title, and subject searching, in an updated interface.</li>
            <li>Loan period: BorrowDirect - 16 weeks with no renewals, E-ZBorrow - 12 weeks with no renewals.</li>
            <li>Integration with your Library account: BorrowDirect books will be charged on your account just like Penn books. Please note: late fines of $1/day will apply.</li>
            <li>Delivery options: Books may be delivered to any Penn Library for pick-up.</li>
            <li>Linking to Interlibrary Loan: Requests for books that cannot be supplied by BorrowDirect may be passed directly to Interlibrary Loan.</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>Interlibrary Loan</h2>
          <div>For books not available in either E-ZBorrow or BorrowDirect, and for all non-book materials (audio recordings, video recordings, or microtext)</div>
          <div class="bold">Use Interlibrary Loan:
            <a href="<%= ill_article_url %>">Article request</a>
            |
            <a href="<%= ill_book_url %>">Other format request</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>FacultyEXPRESS</h2>
          <div>FacultyEXPRESS is a service offered by Penn Libraries to standing, tenure-track faculty.</div>
          <div class="bold">
            <a href="<%= ill_article_url %>">Article request</a>
            |
            <a href="<%= ill_book_url %>">Other format request</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
