<section id="digital-request-details" style="display: <%= show_digital_delivey_fields?(@record, @local_request) ? 'block' : 'none' %>;">
  <h2><%= t('forms.local_request.sections.digital') %></h2>
  <div class="alert alert-info">
    <%= t('forms.local_request.messages.digital_delivery_warning_html') %>
  </div>
  <%= form.text_field :section_title,
                      label: t('forms.local_request.fields.section_title'),
                      help: t('forms.local_request.help.section_title') %>
  <%= form.text_field :section_author,
                      label: t('forms.local_request.fields.section_author'),
                      help: t('forms.local_request.help.section_author') %>
  <%= form.text_field :section_pages,
                      label: t('forms.local_request.fields.section_pages'),
                      help: t('forms.local_request.help.section_pages') %>
  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :section_volume,
                          label: t('forms.local_request.fields.section_volume'),
                          help: t('forms.local_request.help.section_volume') %>
    </div>
    <div class="col-md-6">
      <%= form.text_field :section_issue,
                          label: t('forms.local_request.fields.section_issue'),
                          help: t('forms.local_request.help.section_issue') %>
    </div>
  </div>
  <%= form.text_field :deliver_to, label: t('forms.local_request.fields.deliver_to'),
                      help: t('forms.local_request.help.deliver_to') %>
</section>
