<section id="patron-info">
  <h2><%= t('forms.local_request.sections.patron') %></h2>
  <%= form.static_control :requestor_name, label: t('forms.common.fields.name') do %>
    <%= @user.name %>
  <% end %>
  <%= form.static_control :requestor_affiliation, label: t('forms.local_request.fields.affiliation') do %>
    <%= @user.organization %>
  <% end %>
  <%= form.email_field :requestor_email, label: t('forms.common.fields.email'), value: @user.email %>
</section>
