<% @page_title = 'Request from Penn Libraries' %>

<h1><%= t('forms.local_request.heading') %></h1>

<%= bootstrap_form_for(@local_request) do |f| %>

  <h2><%= t('forms.local_request.sections.patron') %></h2>
  <div class="row">
    <div class="col-sm-6">
      <%= f.static_control :by, label: t('forms.common.fields.name') do %>
        <%= @user.name %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= f.static_control :affiliation, label: t('forms.local_request.fields.affiliation') do %>
        <%= @user.organization %>
      <% end %>
    </div>
  </div>
  <%= f.email_field :email, label: t('forms.common.fields.email'), value: @user.email %>

  <h2>
    Item Information
  </h2>

  <% if @item %>
    <%# TODO: what if unavailable due to ETAS? can eventually check temp location %>
    <% if @item.in_place? && !@item.non_circulating? %>
      <div class="alert alert-success">
        Item is [in place and not non-circulating and therefore] available for PickUp or Books by Mail Delivery
      </div>
    <% else %>
      <div class="alert alert-warning">
        Item is [currently] unavailable. Try <a href="#">Requesting via ILL</a>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-info">
      Which Item are you interested in?
      [show item selection drop-down or radio button? chosen.js for unwieldy select?]
    </div>
  <% end %>

  <%# TODO: use a disabled control? otherwise we need hidden fields %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.static_control :title, label: t('forms.local_request.fields.title') do %>
        <%= @item['bib_data']['title'] %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= f.static_control :author, label: t('forms.local_request.fields.author') do %>
        <%= @item['bib_data']['author'] %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= f.static_control :holding_info, label: '"Holding Info"' do %>
        <%= @holding['holding_info'] %>
      <% end %>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-sm-6">-->
      <%#= f.static_control :publisher, label: t('forms.local_request.fields.publisher') do %>
        <%#= @item['bib_data']['publisher_const'] %>
      <%# end %>
<!--    </div>-->
<!--    <div class="col-sm-6">-->
      <%#= f.static_control :pub_date, label: t('forms.local_request.fields.pub_date') do %>
        <%#= @item['bib_data']['date_of_publication'] %>
      <%# end %>
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-sm-6">-->
      <%#= f.static_control :issn, label: t('forms.local_request.fields.issn') do %>
        <%#= @item['bib_data']['issn'] %>
      <%# end %>
<!--    </div>-->
<!--  </div>-->

  <h2><%= t('forms.local_request.sections.delivery') %></h2>
  <%= f.select :delivery_method, @delivery_options, label: t('forms.local_request.fields.delivery_method'), prompt: t('forms.ill.messages.delivery_options_blank') %>
  <div class="hidden alert alert-warning">
    <p class="hidden bbm-messages">
      <%= t('forms.local_request.delivery_messages.bbm_html') %>
    </p>
    <p class="hidden pap-messages">
      <%= t('forms.local_request.delivery_messages.pap_html') %>
    </p>
    <p class="hidden digi-messages">
      <%= t('forms.local_request.delivery_messages.digi_html') %>
    </p>
  </div>

  <h2>Digital Request Information</h2>
  <div class="alert alert-info">
    Entire works cannot be delivered electronically. Please specify article or chapter information
    to enable scan delivery of your request.
  </div>

  <%= f.text_field :section_title, label: t('forms.local_request.fields.section_title') %>
  <%= f.text_field :section_author, label: t('forms.local_request.fields.section_author') %>
  <%= f.text_field :section_pages, label: t('forms.local_request.fields.section_pages') %>

  <%= f.submit t('forms.common.fields.submit') %>

<% end %>