<% @page_title = t('forms.local_request.heading') %>
<h1><%= t('forms.local_request.heading') %></h1>
<%= bootstrap_form_for(@local_request) do |form| %>
  <%= form.hidden_field :mms_id, value: @record.mms_id %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'patron_info', form: form %>
    </div>
    <div class="col-md-9">
      <%= render 'item_info', form: form %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'digital_delivery_info', form: form %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= render 'delivery_info', form: form %>
    </div>
    <div class="col-md-6">
      <section id="comments">
        <h2>Comments</h2>
        <%= form.text_area :comments %>
      </section>
    </div>
  </div>
  <%= form.submit t('forms.local_request.buttons.submit') %>
  <%= link_to t('forms.local_request.buttons.back'), :back, class: 'btn btn-link' %>

<% end %>