<% @page_title = 'Request from Penn Libraries' %>

<h1><%= t('forms.local_request.heading') %></h1>

<%= bootstrap_form_for(@local_request) do |f| %>

  <h2><%= t('forms.local_request.sections.patron') %></h2>
  <div class="row">
    <div class="col-sm-6">
      <%= f.static_control :by, label: t('forms.common.fields.name') do %>
        <%= @user.name %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= f.static_control :affiliation, label: t('forms.local_request.fields.affiliation') do %>
        <%= @user.organization %>
      <% end %>
    </div>
  </div>
  <%= f.email_field :email, label: t('forms.common.fields.email'), value: @user.email %>

  <h2>
    Item Information
  </h2>

  <div class="row">
    <div class="col-sm-6">
      <%= f.static_control :title, label: t('forms.local_request.fields.title') do %>
        <%= @record.bib_data['title'] %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= f.static_control :author, label: t('forms.local_request.fields.author') do %>
        <%= @record.bib_data['author'] %>
      <% end %>
    </div>
  </div>

  <% if @record.items&.one? %>
    <% if @record.items.first.eligible_for_use? %>
      <div class="alert alert-success">
        Item is [in place and not non-circulating and therefore] available for PickUp or Books by Mail Delivery
      </div>
    <% else %>
      <div class="alert alert-warning">
        Item is [currently] unavailable. Try <a href="#">Requesting via ILL</a>
      </div>
    <% end %>
  <% elsif @record.items&.any? %>
    <div class="alert alert-info">
      Which particular item are you interested in?
    </div>
    <%= f.form_group :item, label: { text: "Item" } do %>
      <% @record.items.each do |item| %>
        <%= f.radio_button :item, item.item_data['pid'], { label: "#{item['bib_data']['title']} - #{item.item_data['description']}" } %>
      <% end %>
    <% end %>
  <% else %>
    <div class="panel-group" id="holding-accordion" role="tablist" aria-multiselectable="true">
      <% @record.holdings.each_with_index do |holding, i| %>
        <% if holding.available? %>
        <div class="panel panel-success">
          <div class="panel-heading" role="tab" id="heading<%= i %>">
            <h4 class="panel-title">
              <a class="item-select-button" role="button" data-toggle="collapse" data-parent="#holding-accordion" href="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>" data-mms-id="<%= @record.mms_id %>" data-holding-id="<%= holding.id %>">
                <%= holding.label %>
                <span class="badge pull-right"><%= "#{holding.available_items} #{'item'.pluralize(holding.available_items)} available" %></span>
              </a>
            </h4>
          </div>
          <div id="collapse<%= i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= i %>">
            <div class="panel-body item-select-container"></div>
          </div>
        </div>
      <% else %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= i %>">
            <h4 class="panel-title">
              <%= holding.label %>
              <span class="badge pull-right">No items available</span>
            </h4>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>

  <h2><%= t('forms.local_request.sections.delivery') %></h2>
  <%= f.select :delivery_method, @delivery_options, label: t('forms.local_request.fields.delivery_method'), prompt: t('forms.ill.messages.delivery_options_blank') %>
  <div class="hidden alert alert-warning">
    <p class="hidden bbm-messages">
      <%= t('forms.local_request.delivery_messages.bbm_html') %>
    </p>
    <p class="hidden pap-messages">
      <%= t('forms.local_request.delivery_messages.pap_html') %>
    </p>
    <p class="hidden digi-messages">
      <%= t('forms.local_request.delivery_messages.digi_html') %>
    </p>
  </div>

  <section id="digital-request-details" class="hidden">
    <h2>Digital Request Information</h2>
    <div class="alert alert-info">
      Entire works cannot be delivered electronically. Please specify article or chapter information
      to enable scan delivery of your request.
    </div>

    <%= f.text_field :section_title, label: t('forms.local_request.fields.section_title') %>
    <%= f.text_field :section_author, label: t('forms.local_request.fields.section_author') %>
    <%= f.text_field :section_pages, label: t('forms.local_request.fields.section_pages') %>
  </section>

  <h2>Comments</h2>
  <%= f.text_area :comments %>

  <%= f.submit t('forms.common.fields.submit') %>

<% end %>