<% @page_title = 'Request from Penn Libraries' %>

<h1><%= t('forms.local_request.heading') %></h1>

<%= bootstrap_form_for(@local_request,
                       url: local_request_path,
                       # layout: :horizontal, label_col: 'col-sm-6 col-md-2', control_col: 'col-sm-6 col-md-10'
    ) do |f| %>

  <h2><%= t('forms.local_request.sections.patron') %></h2>
  <%= f.static_control :name, label: t('forms.common.fields.name') %>
  <%= f.static_control :affiliation, label: t('forms.local_request.fields.affiliation') %>
  <%= f.email_field :email, label: t('forms.common.fields.email') %>

  <h2><%= t('forms.local_request.sections.delivery') %></h2>
  <div class="alert alert-info">
    Messages about selected delivery method
  </div>
  <%= f.select :delivery_method, @delivery_options, label: t('forms.local_request.fields.delivery_method'), prompt: t('forms.ill.messages.delivery_options_blank') %>

  <h2><%= t('forms.local_request.sections.record') %></h2>
  <h3><%= @local_request.type %></h3>
  <%= show_request_type_fields @local_request.type, f %>

  <%= f.text_area :comments, label: t('forms.local_request.fields.comment'), help: t('forms.local_request.messages.comment_limit') %>
  <%= f.submit t('forms.common.fields.submit') %>

<% end %>